tmp/
.env
*.tmp
*.bak
*.swp
*~.nib
data/
local.properties
.settings/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Composer ###
vendor/
autotune.json
