{% extends 'base.html.twig' %}

{% block body %}
    <h1>Docker Engines
        <small>{{ records|length }}</small>
    </h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>
                    <a href="./docker-engines:{{ record.name }}.html">{{ record.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
