{% extends "base.html.twig" %}
{% block content %}
    {% if hostGroups %}
        <ul>
            {% for hostGroup in hostGroups %}
                <li>{{ hostGroup.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
