{% extends "base.html.twig" %}
{% block content %}
    {% if hosts %}
        <ul>
            {% for host in hosts %}
                <li>{{ host.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
